<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./scripts/main.bundle.js"></script>
    <script src="./scripts/{{ pageName }}.bundle.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/pages/{{ pageName }}.css">
    <title>{{ title }}</title>
</head>
<body>
    
    {% include "../includes/header.html" %}
    {% block content %}{% endblock %}
    {% include "../includes/footer.html" %}
</body>
</html>